streamlit>=1.22.0
streamlit-option-menu
pandas
numpy
scikit-learn
tensorflow>=2.19.0
xgboost
matplotlib
seaborn
plotly
Pillow
openpyxl
joblib
gdown
scipy
validators
tzlocal
urllib3
watchdog
zipp
